<!DOCTYPE html>
<html lang="en">

<head>
	<title>Convert APP</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div>
		<h1>WAUHUAWHAUWHUAWH</h1>
	</div>
	<div class="flex justify-around space-x-4">
		<a href="{% url 'index_convert' %}">
			<button
				class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
				Convert
			</button>
		</a>
		<button
			class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
			Crop
		</button>
		<button
			class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
			Scale
		</button>
	</div>
</body>

</html>